/* **************the general ******************* */
* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

#container {
  background: white;
  width: 80%;
  margin: auto;
  /* % :taille au parent
    px : 1px
    en : unité de mesure par raport à la police d'écriture ( 1em = 16px */
}

body {
  background-color: goldenrod;
}
/* *********************************header***************************** */
header {
  background-color: rgb(8, 106, 218);
  text-align: center;
  color: white;
}
nav {
  background-color: rgb(8, 106, 218);
  height: fit-content;
  padding: 0.2em;
  text-align: center;
}
nav a {
  color: white;
}
aside {
  background-color: rgb(8, 106, 218);
  font-size: large;
  color: white;
  width: 25%;
  text-align: center;
  padding: 1.4em;
}

article {
  width: 75%;
  padding-right: 1em;
  margin-bottom: 1em;
}
h1 {
  color: goldenrod;
  padding: 0.4em 0;
}

.nice_pic {
  color: white;
  text-align: justify;
  margin-bottom: 10px;
}
h3 {
  color: white;
  text-align: center;
  padding-bottom: 40px;
}
.simpsons {
  width: 100%;
  vertical-align: top;
}

main {
  width: 100%; /* Définit la largeur à 100% du conteneur parent */
}
main {
  background-color: white;
  padding: 0, 1em;
}
li {
  text-align: center;
  padding: 10px 20px 10px 20px;
}
.textesimpsons {
  padding-bottom: 1.3em;
  text-align: justify;
}
nav {
  width: 100%; /* Définit la largeur du nav à 80% de la largeur du main */
  margin: 0 auto; /* Centrer horizontalement le nav */
}

ul {
  list-style-type: none; /* Retirer les puces des éléments de liste */
  padding: 0;
}

li {
  display: inline-block; /* Afficher les éléments de liste horizontalement */
  margin-right: 20px; /* Espacement entre les liens */
}

a {
  text-decoration: none; /* Retirer la sous-ligne des liens */
  color: black; /* Couleur des liens */
}
.boy {
  display: flex;

  justify-content: space-between;
  width: 100%;
}
.boy > figure {
  width: 33%;
  height: 400px;
  overflow: hidden;
}
.boy > figure > img {
  width: 100%;
}
section {
  display: flex;
  padding: 2em;
}

img {
  width: 80%;
}

footer {
  text-align: center;
  height: fit-content;
  margin-top: 30px;
  color: white;
  background-color: rgb(8, 106, 218);
}
